body
{
    background-color: rgb(104, 85, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    background-color: rgb(161, 221, 240);
    padding: 2rem;
    border-radius: 10px;
    overflow: none;
    display: flex;
}